@import '../variable.scss';

.nav-bar {
    line-height: 64px;
    margin: 0;
    padding: 0 16px;
    border-bottom: 1px solid map-get($colors, color-grey);
    background-color: white;
    width: 100%;
    
    &.fix {
      position: fixed;
      z-index: 99;
    }
    
    .nav--logo {
      height: 48px;
      margin-right: 12px;
    }
    .menu--item {
      margin: 0 12px;
      &:hover, &.active {
        color: map-get($colors, color-red);
        cursor: pointer;
      }
  
      &.logout {
        margin-left: auto;
      }
    }
  }