@import '../variable.scss';

#add {
  min-width: 1000px;
  #answer {
    color: map-get($colors, color-red);
  }
  #title--box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .room--detail {
    border: 1px solid map-get($colors, color-red);
    padding: 16px 32px;
    line-height: 48px;
    text-align: center;

    .room {
      font-size: 36px;
      color: map-get($colors, color-red);
      font-weight: 600;
      letter-spacing: 3px;
      position: absolute;
      background: white;
      top: -20px;
      left: 0;
      right: 0;
      width: 150px;
      margin: 0 auto;
    }
  }
  .unesco--box {
    width: 500px;
    height: 100%;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      width: 16px;
      height: 16px;
      border-top: 6px solid map-get($colors, color-red);
      border-left: 6px solid map-get($colors, color-red);
    }

    &:after {
      content: '';
      position: absolute;
      right: -3px;
      top: -3px;
      width: 16px;
      height: 16px;
      border-top: 6px solid map-get($colors, color-red);
      border-right: 6px solid map-get($colors, color-red);
    }
  }

  .unesco--box--bottom {
    margin: 24px 0;
    height: 100%;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -3px;
      bottom: -3px;
      width: 16px;
      height: 16px;
      border-bottom: 6px solid map-get($colors, color-red);
      border-left: 6px solid map-get($colors, color-red);
    }

    &:after {
      content: '';
      position: absolute;
      right: -3px;
      bottom: -3px;
      width: 16px;
      height: 16px;
      border-bottom: 6px solid map-get($colors, color-red);
      border-right: 6px solid map-get($colors, color-red);
    }
  }
  #underline {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  .question--box {
    animation: fadeIn 500ms;

    margin-top: 28px;
    &:first-child {
      margin-top: 0;
    }

    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    width: 80%;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);

    .circle {
      color: white;
      background: map-get($colors, color-red);
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
  .input--item {
    width: 100%;
    padding: 10px;
    * {
      font-size: 20px;
    }
  }
  // .input--item :hover {
  //     border-color: map-get($colors, color-red);
  // }

  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 48px;
  }
}

#add--question {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &.--box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
    border: 0.5px solid map-get($colors, color-grey);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
  }

  &.--add {
    border-style: dashed;

    .icon {
      font-size: 20px !important;
    }
  }
}

#time {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 28px;

  .input--item {
    width: 20%;
    font-size: 20px !important;
  }
}

#btn {
  padding-right: 10%;
  #save {
    margin-left: 15px;
    width: 100px;
    border-radius: 24px;
    font-size: 20px;

    &.mdl-button--accent.mdl-button--accent.mdl-button--raised,
    .mdl-button--accent.mdl-button--accent.mdl-button--fab {
      background: map-get($colors, color-blue);
    }
  }

  #start {
    margin-left: 15px;
    width: 100px;
    border-radius: 24px;
    font-size: 20px;

    &.mdl-button--accent.mdl-button--accent.mdl-button--raised,
    .mdl-button--accent.mdl-button--accent.mdl-button--fab {
      background-color: map-get($colors, color-green);
    }
  }
}

.add-question-row {
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
  width: 80%;
}

.close-btn {
  position: absolute;
  font-size: 28px !important;
  color: map-get($colors, color-black);
  top: -12px;
  right: -6px;
  &:hover {
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg);
  }
}
