@import '../variable.scss';

#answer {
  &.container {
    width: 100%;
    column-width: 300px;
    column-gap: 20px;
    div {
      margin: 40px 0;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    div:first-child {
      margin-top: 0px;
    }
  }

  &.timer {
    position: absolute;
    right: 12px;
    z-index: 9;
  }
}

#add {
  &.answer-title {
    .unesco--box--bottom {
      height: unset !important;
    }
  }
}

.bg-color-red {
  background-color: #ffe9e9;
  border: 1px solid #ff7e78;
  animation: popup 0.6s;
}

.bg-color-green {
  background-color: #eefff0;
  border: 1px solid #57e06e;
  animation: popup 0.6s;
}

.bg-color-blue {
  background-color: #dcf1ff;
  border: 1px solid #50b2ff;
  animation: popup 0.6s;
}

.bg-color-purple {
  background-color: #eae9ff;
  border: 1px solid #9f8eed;
  animation: popup 0.6s;
}

.bg-color-yellow {
  background-color: #fff3e3;
  border: 1px solid #ffb84e;
  animation: popup 0.6s;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.05);
  }
  95% {
    transform: scale(1);
  }
}

.popup {
  animation: popup 0.6s;
}
