@import '../variable.scss';
#dashboard {
  .box--item {
    width: 12rem;
    height: 12rem;
    border: 1px solid map-get($colors, color-grey);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
    margin: 24px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &.--add {
      border-style: dashed;

      .icon {
        font-size: 64px !important;
      }
    }

    .box--detail {
      width: 100%;
      height: calc(10rem - 2px);
    }

    .box--status {
      width: 100%;
      height: 2rem;
      color: white;
    }

    .edit {
      background: map-get($colors, color-yellow);
    }

    .waiting {
      background: map-get($colors, color-blue);
    }

    .active {
      background: map-get($colors, color-green);
    }

    .done {
      background: map-get($colors, color-red);
    }
  }
}

#dashboard,
#download {
  line-height: 30px;

  .input--item {
    width: 100%;
    padding: 24px;
    * {
      font-size: 20px;
    }

    .ant-input {
      border-radius: 24px !important;
    }
  }

  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 48px;
  }
}

.ant-modal-title {
  font-size: 28px !important;
  color: map-get($colors, color-black) !important;
}

.footer-btn {
  &.mdl-button--accent.mdl-button--accent.mdl-button--raised,
  .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: map-get($colors, color-green);
    width: 100px;
    border-radius: 24px;
    font-size: 20px;
  }
}

.border-input {
  border-radius: 24px !important;
}

.ant-tabs-bar {
  margin: 0 24px !important;
}

.ant-tabs {
  padding: 0 !important;
}
