@import '../variable.scss';

#download {
  .box--item {
    width: 100%;
    height: 12rem;
    margin: 24px;
    border: 1px solid map-get($colors, color-grey);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
    .icon {
      border-right: 1px solid map-get($colors, color-grey);
    }

    .document-title {
      font-size: 24px;

      .document-description {
        color: map-get($colors, color-light-black);
        font-size: 24px;
        margin-left: 4px;
      }
    }

    .document-text {
      color: map-get($colors, color-grey);
    }
  }
}
