@import '../variable.scss';

.full-bg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fbfbfb;

  .login-box {
    position: relative;
    top: -64px;
    img {
      width: 300px;
      margin: 0 auto;
    }
  }

  .label--or {
    font-size: 20px;
    width: 100%;
    display: block;
    &:before,
    &:after {
      content: '';
      width: 100%;
      display: block;
      border-bottom: 1px solid map-get($colors, color-red);
      margin: 10px;
    }
  }
}
