@import '../variable.scss';

.student-box {
  position: absolute;
  right: 20px;
}

#qrcode {
  .qr {
    width: 100%;
  }

  .qr--detail {
    border: 1px solid map-get($colors, color-red);
    padding: 16px 32px;
    line-height: 48px;

    * {
      font-size: 28px;
    }

    &.rank * {
      font-size: 20px !important;
      line-height: 24px;
    }

    .qr--room {
      font-size: 36px;
      .room {
        font-size: 36px;
        color: map-get($colors, color-red);
      }

      font-weight: 600;
    }
  }

  .unesco--box {
    height: 100%;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      width: 16px;
      height: 16px;
      border-top: 6px solid map-get($colors, color-red);
      border-left: 6px solid map-get($colors, color-red);
    }

    &:after {
      content: '';
      position: absolute;
      right: -3px;
      top: -3px;
      width: 16px;
      height: 16px;
      border-top: 6px solid map-get($colors, color-red);
      border-right: 6px solid map-get($colors, color-red);
    }
  }

  .unesco--box--bottom {
    margin: 24px 0;
    height: 100%;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -3px;
      bottom: -3px;
      width: 16px;
      height: 16px;
      border-bottom: 6px solid map-get($colors, color-red);
      border-left: 6px solid map-get($colors, color-red);
    }

    &:after {
      content: '';
      position: absolute;
      right: -3px;
      bottom: -3px;
      width: 16px;
      height: 16px;
      border-bottom: 6px solid map-get($colors, color-red);
      border-right: 6px solid map-get($colors, color-red);
    }
  }

  .start-btn {
    border-radius: 24px;
    font-size: 24px;
    &.mdl-button--accent.mdl-button--accent.mdl-button--raised {
      background-color: map-get($colors, color-red);
    }
  }
}
