@import '../variable.scss';

#rank {
  .timer {
    top: 82px;
    right: 2%;
    position: absolute;
    animation: fade-stop-btn 1s;

    .stop-btn {
      margin-left: 8px;
      width: 100px;
      border-radius: 24px;
      font-size: 20px;
      &.mdl-button--accent.mdl-button--accent.mdl-button--raised {
        background-color: map-get($colors, color-red);
      }
    }
  }

  .rank--detail {
    width: 100%;
    height: 250px;

    .rank--box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rank4 {
      height: 100%;
      width: 73px;

      .rank--box-detail {
        text-align: center;
        font-size: 24px !important;
      }

      .rank--box {
        color: white;
        font-size: 48px;
        width: 100%;
        height: 60px;
        background: map-get($colors, color-purple);
        margin-top: 12px;
      }
    }

    .rank2 {
      height: 100%;
      width: 146px;

      .rank--box-detail {
        text-align: center;
        font-size: 24px !important;
      }

      .rank--box {
        color: white;
        font-size: 90px;
        width: 100%;
        height: 135px;
        background: map-get($colors, color-yellow);
        margin-top: 12px;
      }
    }

    .rank1 {
      height: 100%;
      width: 182px;

      .rank--box-detail {
        text-align: center;
        font-size: 24px !important;
      }

      .rank--box {
        color: white;
        font-size: 160px;
        width: 100%;
        height: 200px;
        background: map-get($colors, color-red);
        margin-top: 12px;
      }
    }

    .rank3 {
      height: 100%;
      width: 117px;

      .rank--box-detail {
        text-align: center;
        font-size: 24px !important;
      }

      .rank--box {
        color: white;
        font-size: 80px;
        width: 100%;
        height: 100px;
        background: map-get($colors, color-green);
        margin-top: 12px;
      }
    }

    .rank5 {
      height: 100%;
      width: 59px;

      .rank--box-detail {
        text-align: center;
        font-size: 24px !important;
      }

      .rank--box {
        color: white;
        font-size: 40px;
        width: 100%;
        height: 50px;
        background: map-get($colors, color-blue);
        margin-top: 12px;
      }
    }
  }
}

@keyframes fade-stop-btn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
