@import './variable';

.App {
  height: 100%;
}

.loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eceff1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.loader:empty {
  background: white;
}

button {
  &:disabled {
    opacity: 0.7;
  }
}

.fadein {
  -webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.6s; /* Firefox < 16 */
  -ms-animation: fadein 0.6s; /* Internet Explorer */
  -o-animation: fadein 0.6s; /* Opera < 12.1 */
  animation: fadein 0.6s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

.amount {
  position: absolute;
  margin-top: -2px;
  margin-left: -68px;
}

.color-purple {
  color: map-get($colors, color-purple);
}
