@import './variable';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/mixins/_text-truncate';
@import '~bootstrap/scss/mixins/_text-emphasis';
@import '~bootstrap/scss/mixins/_hover';
@import '~bootstrap/scss/mixins/_text-hide';
@import '~bootstrap/scss/utilities/_text';
@import '~bootstrap/scss/utilities/_align';
@import '~bootstrap/scss/utilities/_spacing';

body {
  margin: 0;
  padding: 0;
  font-family: 'DB Adman X';
  min-width: 768px;
  font-size: 20px;
  color: map-get($colors, color-black);

  @font-face {
    font-family: 'DB Adman X';
    src: url('/assets/fonts/DB-Adman-X-v3.2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-size: 20px;
    font-family: 'DB Adman X' !important;
  }
}

#root {
  height: 100%;
}

*:focus,
*:active,
* {
  outline: 0 !important;
}

a:hover,
a:focus,
a:active {
  text-decoration-line: none;
}
