$colors: (
  primary: #ff7e7b,
  color-red: #ff7e7b,
  color-yellow: #ffb84e,
  color-green: #57e06e,
  color-purple: #9f8eed,
  color-black: #4f4f4f,
  color-grey: #c6c6c6,
  color-light-black: #7c7c7c,
  color-blue: #50b2ff
) !default;

@font-face {
  font-family: 'DB Adman X';
  src: url('/assets/fonts/DB-Adman-X-v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$default-font: 'DB Adman X';
$preferred_font: 'DB Adman X', 'Helvetica', 'Arial', sans-serif !default;
$performance_font: 'DB Adman X', 'Helvetica', 'Arial', sans-serif !default;
$image_path: '/assets/images' !default;
